node_modules/
dist/
.env
*.log
.DS_Store
coverage/
tmp/
uploads/tmp/
uploads/projects/*
!uploads/projects/.gitkeep
uploads/hhsrs-site-form/*
!uploads/hhsrs-site-form/.gitkeep
uploads/reference-documents/*
!uploads/reference-documents/.gitkeep
.prisma/
